:root {
  --font: "Alegreya Sans SC";
  --font2: "Poppins";
  --color-blue1: #4361ee;
  --color-blue2: #0e1c36;
  --color-black: #0a100d;
  --color-beige: #ffede1;
  --color-gray: #f1e9e9;
  --color-white: #ffffff;
}

